body {
  min-height: 100vh;
}

.hidden {
  display: none;
}

button.accordion-button {
  display: flex;
  flex-direction: row;
  width: 100% !important;
}

.exit-button {
  border-radius: 20px;
  background: hsl(4, 67%, 49%)
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/.5em auto no-repeat;
  opacity: 0.5;
  transition: 0.2s ease-in-out;
  margin-left: auto;

  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #fff;
  margin-right: 1.25rem;
}

.exit-button:hover,
.exit-button:focus {
  opacity: 1;
}

.accordion-button::after {
  margin-left: 0;
}

button.btn.btn-warning.ml-auto,
button.btn.btn-success.ml-auto,
button.btn.btn-primary.ml-auto {
  line-height: 0;
  padding: 10px;
}

.how-to {
  padding: 10px;
}

.btn-linkedin {
  text-decoration: none !important;
  border-radius: 3px !important;
  margin-left: auto;
  cursor: pointer;
  line-height: 36px !important;
  font-size: 16px !important;
  height: 37px !important;
  background: #0e76a8;
  border-radius: 0;
  color: #fff !important;
  border-width: 1px;
  border-style: solid;
  /* border-color: #084461; */
  border: none !important;
  padding: 0 1rem;
  box-shadow: 0px 1px 2px rgb(190 190 190 / 50%) !important;
  -webkit-box-shadow: 0px 1px 2px 2px rgb(190 190 190 / 50%) !important;
  outline: none;
}
.btn-linkedin:link,
.btn-linkedin:visited {
  color: #fff;
}
.btn-linkedin:active,
.btn-linkedin:hover {
  background: #084461;
  color: #fff;
}

.container-md.d-flex.flex-column.modal-and-form-container {
  height: 80vh;
}

form {
  max-width: 736px;
  min-width: 600px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

input.form-control {
  height: 40px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

input.btn.btn-outline-secondary {
  height: 40px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

footer.mt-auto.container-md.d-flex.align {
  max-height: 20vh;
}

.mobile-row-btns {
  margin-left: auto;
}

.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  height: 100% !important;
}

.accordion-button {
  color: #e8eaed;
  background-color: #7a7c86;
}

.accordion-button:not(.collapsed) {
  color: #e8eaed;
  background-color: #5aafff;
}

.accordion-button:focus,
.accordion-button:active {
  z-index: 3;
  border-color: #fff !important;
  box-shadow: none !important;
}

@media all and (max-width: 768px) {
  .d-flex.align-items-center {
    flex-direction: column;
  }

  .button.btn.btn-warning.ml-auto {
    margin: 0 auto !important;
  }

  .mobile-row-btns {
    display: flex;
    width: 100%;
  }

  button.btn.btn-success.ml-3.how-to {
    margin-right: 8px;
  }

  form {
    margin-left: 8px;
    margin-right: 8px;
    min-width: 0;
    max-width: 736px;
  }

  .footer.mt-auto.container-md.d-flex.align {
    max-width: 736px;
  }

  .mt-auto.pb-5 {
    margin-left: 8px;
  }

  .mt-auto.pb-5 {
    padding-bottom: 12px !important;
  }

  a.btn-linkedin {
    margin-right: 8px;
  }

  button.btn.btn-primary.ml-auto {
    margin-bottom: 1.5rem;
  }
}
